@import "../css/header.css";

main {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h1 a {
  text-decoration: none;
  color: #007bff;
}

h1 a:hover::after {
  content: "👈";
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.projetos {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projetos li {
  margin: 10px;
}

.projetos li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #007bff;
  font-weight: bold;
  font-size: 1.6rem;
}

.projetos li a:hover {
  color: white;
}

.socialMedias {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.socialMedias img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
@media (max-width: 768px) {
  main {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .projetos li a {
    font-size: 1rem;
  }
}
