@import "../css/header.css";

main {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.projetos {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projetos li {
  margin: 10px;
}

.projetos li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #007bff;
  font-weight: bold;
  font-size: 1.6rem;
}

.projetos li a:hover {
  color: white;
}
